@using Castle.Core.Internal
@using WorkoutGenerator.Extensions
@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<style>
    .programs-row {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        float: left;
        position: relative;
    }

    .program-row a { text-decoration: none; }

    .programs-row label { margin: 0; }
</style>

<div class="container my-5">
    <div class="row no-gutters d-block">
        <h5 style="text-transform: uppercase; font-weight: 300;">Your Generated Programs</h5>
        <hr/>
        <div class="row no-gutters my-2">
            <div class="programs-row py-2">

                @if (Model.Programs.IsNullOrEmpty())
                {
                    <div class="card p-3 text-center">
                        <p class="mb-0">You haven't saved any programs yet.</p>
                    </div>
                }
                else
                {
                    @foreach (var program in Model.Programs)
                    {
                        <div href="#" class="d-inline-block">
                            <div class="m-2" style="border-radius: 15px;">

                                <div class="shadow py-3 px-4 d-flex flex-column " style="transform: rotate(0); border-radius: 10px;">

                                    <div class="dropdown show dropleft" style="z-index: 99;position: absolute; right: 0;">
                                        <a class=" p-3" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v text-secondary"></i>
                                        </a>

                                        <div class="dropdown-menu bg" aria-labelledby="dropdownMenuLink">
                                            <form method="post" asp-controller="Program" asp-action="DeleteProgram" asp-route-id="@program.ProgramId">
                                                <button type="submit" class="dropdown-item" href="#"><i class="far fa-trash-alt"></i>&emsp; Delete</button>
                                            </form>
                                        </div>
                                    </div>

                                    <label style="font-size: 13px;" class="text-secondary">@program.Created.FormatDate()</label>
                                    <label style="font-size: 16px;" class="font-weight-bold">@program.Type</label>
                                    <label style="font-size: 15px;" class="color-second">
                                        @program.Level<span class="text-black-50" style="text-transform: lowercase">, @program.Days</span>
                                    </label>
                                    <div class="text-center px-3" >
                                        <a asp-action="Index" asp-controller="Program" asp-route-id="@program.ProgramId" class="w-100 mt-1 btn stretched-link  color-main">View</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                }

            </div>

        </div>
    </div>
</div>