@using WorkoutGenerator.Data
@using WorkoutGenerator.Extensions
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}


@section Head{
    <style>
        .submit-hover:hover {
            background: white;
            color: #8187ff !important;
        }
        .index-form label { color: white; }

         #siteNavBar{
            /*box-shadow: 0px 0px !important;*/
             border: 0 !important;
        }

        .lds-dual-ring {
            display: inline-block;
            width: 64px;
            height: 64px;
        }

        .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 46px;
            height: 46px;
            margin: 1px;
            border-radius: 50%;
            border: 5px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }

        @@keyframes lds-dual-ring {
            0% { transform: rotate(0deg); }

            100% { transform: rotate(360deg); }
        }
    </style>
}

<div class="bg-main">


    <div class="container py-5">

        <div class="d-flex justify-content-center flex-column">

            <div class="row d-flex  justify-content-center">
                <div class="col-10">
                    <h1 class="text-white text-center" style="letter-spacing: 1px; font-weight: 300;">Professional Body Building Program Designer</h1>
                    <p class="text-white mb-0 text-center" style="font-size: 20px; letter-spacing: 1px; font-weight: 300;">Generate professional and effective workouts for yourself or your clients.</p>

                </div>
            </div>


            <div class="row d-flex  justify-content-center mt-5 index-form">


                <div class="col-11 col-lg-5 d-flex justify-content-center flex-column">
                    <div style="display: none;" id="loadingDiv">
                        <div class="d-flex justify-content-center" style="display: none">
                            <div class="d-block text-center">
                                <p class="text-white w-100">Generating program</p>
                                <div class="lds-dual-ring"></div>
                            </div>
                        </div>


                    </div>

                    <form method="post" asp-controller="Home" asp-action="Index" id="generateForm">

                        <label>Choose workout difficulty</label>
                        <div class="2 form-group">
                            <select asp-for="@Model.TrainerLevelType" class="form-control" asp-items="Enum.GetValues(typeof(TrainerLevelType)).Cast<TrainerLevelType>().ToSelectListItems(Model.TrainerLevelType)"></select>
                            <span asp-validation-for="@Model.TrainerLevelType" class="text-danger"></span>

                        </div>
                        <label>How many days per week you wish to workout</label>

                        <div class="2 form-group">
                            <select asp-for="@Model.DaysType" class="form-control" asp-items="Enum.GetValues(typeof(DaysType)).Cast<DaysType>().ToSelectListItems(Model.DaysType)"></select>
                            <span asp-validation-for="@Model.DaysType" class="text-danger"></span>
                        </div>
                        <label>Pick a template to generate workout</label>
                        <div class="2 form-group">
                            <select asp-for="@Model.TemplateType" class="form-control" asp-items="Enum.GetValues(typeof(TemplateType)).Cast<TemplateType>().ToSelectListItems(null)">
                                <option value="DecideForMe">Decide for me</option>

                            </select>
                            <span asp-validation-for="@Model.TemplateType" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-center mt-5">
                            <button type="submit" class="submit-hover bg-main btn p-4 px-5 shadow" style="color: white; border: solid 1px white;">Create Program</button>
                        </div>

                    </form>

                </div>
            </div>


        </div>

    </div>

</div>

<div class="container mt-5">
    <div class="d-flex vertical-align justify-content-center flex-column mb-5">

        <h1 style="letter-spacing: 1px; font-weight: 300;" class="text-center color-main">The Most Precise Program Generator Ever.</h1>
        <h3 class="text-center color-main" style="letter-spacing: 1px; font-weight: 300">The fitness industry's technology is accelerating, and we're leading it.</h3>
    </div>

    <div class="row">

        <div class="col-12 col-lg-4 text-center">
            <i class=" mb-3 text-center color-main fas fa-rocket fa-3x"></i>
            <p class="mb-3 color-main text-center">Lightning Fast</p>
            <p class="text-center">In less than 10 seconds, you'll have a professional program per your specification.</p>
        </div>

        <div class="col-12 col-lg-4 text-center">
            <i class=" mb-3 text-center color-main fab fa-magento fa-3x"></i>
            <p class="mb-3 color-main text-center">Tailor-Made</p>
            <p class="text-center">Our algorithm can receive data and generate programs accordingly. Else, he'll use his brains and creat a tailor-made program just for you, with little data.</p>
        </div>

        <div class="col-12 col-lg-4 text-center">
            <i class=" mb-3 text-center color-main fas fa-dollar-sign fa-3x"></i>
            <p class="mb-3 color-main text-center">Our Algorithm Is Free</p>
            <p class="text-center">We're charging nothing for our algorithm. So Enjoy and happy generating!</p>
        </div>


    </div>
    <div class="d-flex justify-content-center">
        <button id="scrollToTopBtn" class="btn bg-main text-white my-5">Scroll To Top</button>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $("#generateForm").on("submit",
                function() {
                    $("#generateForm").hide(200);
                    $("#loadingDiv").show(200);
                });
        });

        $("#scrollToTopBtn").on('click',
            function() {
                $('html,body').animate({ scrollTop: 0 }, 'slow');
            });
    </script>
}